@import "mixins";
@import "map";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  min-height: 380px;
  background-color: $container-color;
  border-radius: 10px;
  text-align: center;
  @include respond-to("large") {
    width: 540px;
    min-height: 400;
  }
  &__advice {
    color: $neon-green;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.46px;
    margin-top: 40px;
    margin-bottom: 24px;
    @include respond-to("large") {
      margin-top: 48px;
      font-size: 13px;
      letter-spacing: 4px;
    }
  }
  &__text {
    font-size: 24px;
    margin: 0 24px;
    min-height: 220px;
    @include respond-to("large") {
      margin: 0 48px;
      font-size: 28px;
    }
  }
  &__divider {
    margin-bottom: 60px;
    @include respond-to("large") {
      margin-top: 40px;
      width: 90%;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn-dice {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: $neon-green;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include respond-to("large") {
      margin-top: 5px;
    }
    &:hover {
      -webkit-box-shadow: 0 0 25px 2px $neon-green;
      -moz-box-shadow: 0 0 25px 2px $neon-green;
      box-shadow: 0 0 25px 2px $neon-green;
      transform: rotate(360deg);
    }
    img {
      transition: transform 0.8s ease-in;
    }
    img:hover {
      transform: rotate(360deg);
    }
  }
}
